RunningIndicator {
    display: none;
    margin-left: 1;
    margin-bottom: 1;
    height: auto;
}

ContextPanel {
    display: none;
    width: 30vw;
    min-width: 60;
    padding: 1;
    background: $panel;
    border-left: $panel-lighten-1 wide;

    Tree {
        background: transparent;

        &:focus {
            background-tint: transparent 0%;
        }
    }
}

#message-queue {
    padding-left: 1;
    padding-right: 1;
    background: $secondary-background;
}

#bottom-dock {
    dock: bottom;
}

#chat-input {
    margin-top: 1;
    margin-bottom: 1;
}

.message {
    padding-left: 2;
    padding-right: 2;
    margin-bottom: 1;
    border-title-style: bold;
}

.message Markdown {
    padding: 1 0 0 0;
}

.message-ai {
    border: double $primary;
}

.message-human {
    border: double $secondary;
}

.reasoning-block {
    color: dimgray;
}

.tool-call {
    height: auto;
    margin-bottom: 1;

    Tree {
        height: auto;
        background: transparent;
        scrollbar-visibility: hidden;
        scrollbar-size: 0 0;

        &:focus {
            background-tint: transparent 0%;
        }
    }
}
