#bottom-dock {
    dock: bottom;
}

#chat-input {
    margin-bottom: 1;
}

#agent-running-indicator {
    display: none;
    margin-left: 1;
    margin-bottom: 1;
    height: auto;
}

.message {
    padding-left: 2;
    padding-right: 2;
    margin-bottom: 1;
    border-title-style: bold;
}

.message Markdown {
    padding: 1 0 0 0;
}

.message-ai {
    border: double $primary;
}

.message-human {
    border: double $secondary;
}

.message-tool {
    border: double $accent;
}
